<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="testSettings" type="UX.Testing.Core.TestSettings, UX.Testing.Core" allowLocation="true" allowDefinition="Everywhere" />
		<section name="seleniumTestSettings" type="UX.Testing.Selenium.TestSettings, UX.Testing.Selenium" allowLocation="true" allowDefinition="Everywhere" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<appSettings>
	</appSettings>
	<testSettings baseUrl="http://bing.com" browser="Chrome" timeout="30000" interval="50" debug="false" screencapture="true" ScrollToMiddleWaitTime="150" MouseOverWaitTime="50" MouseOutWaitTime="50" MouseEnterWaitTime="50" DisableDiagnosticLogging="false" autowaitforpageload="true">
		<provider assembly="UX.Testing.Selenium" type="UX.Testing.Selenium.TestingFramework" />
	</testSettings>
	<seleniumTestSettings commandTimeout="120000"></seleniumTestSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
		<targets>
			<target type="NLogViewer" name="Log2Console" address="udp://127.0.0.1:7071"
		  layout="${event-context:item=messageType} ${longdate} | ${level:uppercase=true} | ${stacktrace} | ${message}" />
			<target name="console"
		  type="ColoredConsole"
		  header="${machinename} - Started at: ${longdate}"
		  layout="${event-context:item=messageType} ${longdate} | ${level:uppercase=true} | ${stacktrace} | ${message}" />
			<target name="file"
		  type="File"
		  fileName="${basedir}/${shortdate}-file.txt"
		  archiveFileName="${basedir}/${shortdate}-file-{###}.txt"
		  archiveNumbering="Rolling"
		  maxArchiveFiles="4"
		  archiveEvery="Day"
		  layout="${level:uppercase=true} ${longdate}: ${stacktrace} ${message}"
		  header="${machinename} - Started at: ${longdate} - File location: ${basedir}/${shortdate}-file.txt"
		  footer="Last operation completed at: ${longdate}"/>
			<target name="Testing"
		  type="File"
		  fileName="${basedir}/${shortdate}-TestingLog.txt"
		  archiveFileName="${basedir}/${shortdate}-TestingLog-{###}.txt"
		  archiveNumbering="Rolling"
		  maxArchiveFiles="5"
		  archiveEvery="Day"
		  layout="${level:uppercase=true} ${longdate}: ${message} ${newline} ${stacktrace}"
		  header="${machinename} - Started at: ${longdate} - File location: ${basedir}/${shortdate}-TestingLog.txt"
		  footer="Last operation completed at: ${longdate}"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="Log2Console" />
			<logger name="*" minlevel="Error" writeTo="Testing" />
		</rules>
	</nlog>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>